@import "src/global";

.image-style {
  padding: 50px 0 30px 0;
}

.title {
  padding: 0 60px 53px 60px;
}

.description {
  padding: 0 55px 52px 55px;
}

.pl-8 {
  padding-left: 8px;
}

.button-accept {
  margin-top: 26px;
  margin-bottom: 18px;
  padding: 0 15px;
}
