.div-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 151px;
  height: 134px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.title {
  padding-top: 80px;
  padding-bottom: 44px;
}

ion-footer {
  padding-bottom: 59px;
}

.footer-text {
  color: #333333;
  font-size: 12px;
  padding-left: 10px;
}

.footer-md::before {
  background: none;
}

.articles {
  opacity: 0.5;
  cursor: not-allowed;
}
