<ion-content class="ion-padding">
    <h5 class="ion-text-center ion-no-margin title">Подтвердите ваше согласие</h5>
    <div>
        <div class="d-flex ion-justify-content-around">
            <div routerLink="/microloans" class="div-icon">
                <img src="assets/img/money.png" width="40">
                <p class="fs-12">МИКРОЗАЙМЫ</p>
            </div>
            <div routerLink="/cards" class="div-icon ion-text-center">
                <img src="assets/img/svg/credit-card.svg">
                <p class="fs-12">КРЕДИТНЫЕ КАРТЫ</p>
            </div>
        </div>

        <div class="d-flex ion-justify-content-around ion-padding-top">
            <div routerLink="/calculator" class="div-icon ion-text-center">
                <img src="assets/img/svg/money-bag.svg">
                <p class="fs-12">КРЕДИТЫ</p>
            </div>
            <div class="div-icon ion-text-center">
                <div routerLink="/news" class="div-icon ion-text-center">
                    <img src="assets/img/svg/online-payment.svg">
                    <p class="fs-12">СТАТЬИ</p>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer class="d-flex ion-align-items-center ion-justify-content-center">
    <img src="assets/img/svg/shield.svg">
    <span routerLink="/privacy-policy" class="footer-text">политика конфиденциальности</span>
</ion-footer>
